/* Globals */
@font-face{
    font-family: 'FreeSerif';
    src: url(FreeSerif.otf);
}
:root {
	--dark: black;
}
/* Main block */
body {
    margin: 0;
    padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
main {
	/* Aestethics */
	border-radius: 30px;
	border: 5px solid var(--dark);
	background-color: red;
	/* Space */
	width: 80%;
	margin-top: 20px;
	margin-bottom: 50px;
	/* Flex */
	display: flex;
	flex-direction: column;
}
/* Building blocks */
section {
	padding-left: 10px;
}
/* Special padding necessary */
ul {
	margin-left: 20px;
}
/* Footer css */
footer{
    width:100%;
	/* Positioning */
	position: relative;
	bottom: 0;
    border-top: 3px solid #346734;
    margin-top: 50px;
}

a:hover {
    box-shadow: inset 0 -2px 0 0 #346734;
}
h1{
    color: #346734;
    font-size: 2.6em;
    margin-bottom: 0.4em;
    font-family: FreeSerif;
}
h2{
    color: #346734;
    font-size: 1.8em;
    font-family: FreeSerif;
}
h3{
    color: #346734;
    font-family: FreeSerif;
}
p, li{
    color: #333;
    font-size: 1.2em;
    margin-top: 0;
    font-family: FreeSerif;
}

ul {
    padding: 0;
}

hr {
    color: #346734;
}

a {
    font-weight: 700;
    color: #346734;
    text-decoration: none;
    font-size: 1.2em;
    font-family: FreeSerif;
}

.spanlink{
    font-weight: 700;
    color: #346734;
    font-size: 0.94em;
    text-align: start;
}
.fullimgh{
    height: 100%;
}
.fullimgw{
    width: 100%;
}
.imgcenter{
    display: flex;
    height: 100%;
    margin: auto;
}
blockquote {
	border-left: 4px solid #333;
}
pre{
    background-color: #bbb;
    border-radius: 1em;
    width: max-content;
    padding: 1em;
}
aside{
    margin-left: auto;
    margin-right: 20px;
    width: 320px;
}
article{
    /*TODO: Looks bad on mobile*/
    max-width: 60%;
}
#rss {
	position: absolute;
	width: 30px;
	bottom: 120px;
	left: 40px;
}
