/* Globals */
@font-face{
    font-family: 'FreeSerif';
    src: url(FreeSerif.otf);
}
@font-face {
  font-family: "Hasklug";
  src:
    url("HasklugNerdFontMono-Regular.otf") format("opentype");
}
:root {
	--dark: black;
	--page-width: 1200px;

	--blue: #0014ab;
	--red: #a30000;
	--txt-bg: #DDD;

	/* Every element that isn't a child
	   of .zenith will have this by default */
	font-family: "FreeSerif";
}
/* Main block */
body {
    margin: 0;
    padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--blue);
}
/* Highest level block  */
.block {
	/* Default color */
	background-color: var(--txt-bg);
	/* Shadow */
	-webkit-box-shadow: 15px 16px 0px 5px #000000; 
	box-shadow: 15px 16px 0px 5px #000000;
	/* Some space */
	margin: 20px;
}
/* Main center block */
.zenith {
	display: flex;
	flex-direction: row;
	font-family: "Hasklug";
	/* Space */
	width: var(--page-width);
	/* min-height: 1000px; */
}
/* Containers for main content blocks */
main, aside, header {
	padding: 10px 5px;
	/* background-color: wheat; */
	/* Flex */
	display: flex;
	flex-direction: column;	
}
/* Main boxes */
.border {
	border: 1px solid var(--dark);
	padding: 5px;
	height: fit-content;
}

/* Multiple choice */
a {
	width: 100%;
	display: inline-block;
	color: black;
	text-decoration: none;
}
a:hover {
	background-color: var(--red);
	color: white;
	text-decoration: underline;
}

/* Card gallery */
.card-gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

/*
  COMPONENTS CSS
*/

/* Footer css */
footer{
	background-color: white;
	margin: 20px;
	padding: 10px;
}


/* Header css */
header-component {
	width: var(--page-width);
	display: block; /* Could be flex but oh well */
}
header {
	/* Some space */
	margin-top: 20px;
	/* Aligning items */
	display: flex;
	flex-direction: row;
}
.logo {
	font-size: 6em;
}
.sub {
	font-size: 1.4em;
}
/* Message of the day */
#daily-container {
	display:flex;
	align-items:center;
	justify-content: center;
	padding: 0px 20px;
	/* Visual */
	background-color: var(--blue);
	color: white;
}
#daily {
	font-size: 2em;
}
/* Flex utils */
.flex-right {
	margin-left: auto;
}

/* Card css */
.fullimgh{
    height: 100%;
}
.fullimgw{
    width: 100%;
}
.imgcenter{
    display: flex;
    height: 100%;
    margin: auto;
}
.spanlink {
	display: inline;
}
