/*
  GLOBALS
*/
@font-face{
    font-family: 'FreeSerif';
    src: url(FreeSerif.otf);
}
@font-face {
  font-family: "Hasklug";
  src:
    url("HasklugNerdFontMono-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Lexend";
  src:
    url("Lexend-Light.ttf");
}
:root {
	--dark: black;
	--page-width: 1200px;
	--dark: #333;
	--light: #EEE;

	--txt-bg: #DDD;
	--dank-bg: #B0BCC0;

	--blue: #0014ab;
	--dank-blue: rgba(0, 11, 60, 1);
	
	--red: #a30000;

	--light-em: #fa6b6b;

	/* Every element that isn't a child
	   of .zenith will have this by default.
	   This is changed by accessiblity options.
   */
	font-family: "FreeSerif";
}
html {
	height: 100%;
}
/* Main */
body {
	/* space */
    margin: 0;
    padding: 0;
	/* flex */
	display: flex;
	flex-direction: column;
	align-items: center;	
	justify-content: center;
	/* bg */
	background-color: var(--blue);
	background: linear-gradient(180deg, var(--blue) 0%, var(--dank-blue) 100%) no-repeat;
	background-attachment: fixed;
}
/* Highest level block  */
.block {
	/* Default color */
	background-color: var(--txt-bg);
	background: linear-gradient(90deg, var(--dank-bg) 0%, var(--txt-bg) 50%, var(--dank-bg) 100%);
	/* Shadow */
	-webkit-box-shadow: 15px 16px 0px 5px #000000; 
	box-shadow: 15px 16px 0px 5px #000000;
	/* Some space */
	margin: 20px;
}
/* Main center block */
.zenith {
	display: flex;
	flex-direction: row;
	font-family: "Hasklug";
	/* Space */
	width: var(--page-width);
	/* min-height: 1000px; */
}
/* Containers for main content blocks */
main, aside, header {
	padding: 10px 5px;
	/* background-color: wheat; */
	/* Flex */
	display: flex;
	flex-direction: column;	
}
/* Main boxes */
.border {
	border: 1px solid var(--dark);
	padding: 5px;
	height: fit-content;
}
aside > .border {
	margin-bottom: 5px;
}
/* Card gallery */
.card-gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

/* Left hand nav */
.alt-nav {
	display: flex;
	flex-direction: column;
	min-width: 100px;
}
#rss {
	width: 30px;
}

.comment-list > .border {
	margin-bottom: 10px;
}
.error {
	padding: 10px;
	background-color: var(--light-em);
}

/*
  INPUT STYLES
*/

/* Input */
input, textarea {
	background-color: var(--blue);
	color: white;
}
/* Button */
button {
	border: none;
	background-color: inherit;
	font-family: inherit;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}
button:hover {
	cursor: pointer;
	text-decoration: underline;
	background-color: var(--red);
	color: white;
}
button:before {
	content: "<";
}
button:after {
	content: ">";
}
/* Multiple choice */
a {
	width: 100%;
	display: inline-block;
	color: black;
	text-decoration: none;
}
a:hover {
	background-color: var(--red);
	color: white;
	text-decoration: underline;
}
/* Exception for 88x31 */
.i88x31 {
	display: block;
	image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
}
.i88x31 > img {
	width: 88px;
	height: 31px;
}
.i88x31:hover {
	background-color: inherit;
}
/* Radio and checkbox */
fieldset {
	background-color: var(--blue);
	color: white;
	font-size: 0.8em;
}
input[type="radio"],
input[type="checkbox"]
{
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* Not removed via appearance */
  margin: 0;
}
input[type="radio"]::before,
input[type="checkbox"]::before
{
	content: "[ ";
}
input[type="radio"]:checked::before,
input[type="checkbox"]:checked::before
{
	content: "[*";
}
input[type="radio"]::after,
input[type="checkbox"]::after
{
	content: "]";
}

/*
  MARKDOWN STUFF
*/
blockquote {
	border-left: 4px solid var(--dark);
	padding-left: 5px;
}

/*
  COMPONENTS CSS
*/

/* Footer css */
footer{
	background-color: white;
	margin: 20px;
	padding: 10px;
}
/* Header css */
header-component {
	width: var(--page-width);
	display: block; /* Could be flex but oh well */
}
header {
	/* Some space */
	margin-top: 20px;
	/* Aligning items */
	display: flex;
	flex-direction: row;
}
.logo {
	font-size: 6em;
}
.sub {
	font-size: 1.4em;
}
/* Message of the day */
#daily-container {
	display:flex;
	align-items:center;
	justify-content: center;
	padding: 0px 20px;
	/* Visual */
	background-color: var(--blue);
	color: var(--light);
}
#daily {
	font-size: 2em;
}
/* Flex utils */
.flex-right {
	margin-left: auto;
}

/* Card css */
.fullimgh{
    height: 100%;
}
.fullimgw{
    width: 100%;
}
.imgcenter{
    display: flex;
    width: 100%; /* TODO: Properly center */
    margin: auto;
}
.spanlink {
	display: inline;
	font-size: 0.8em;
}

/*
  ACCESSIBILITY
*/
.important {
	font-size: 1.5em;
}
.important { /* TODO: For important buttons */
	animation: 2s 2 alternate attention;
}
@keyframes attention {
	from {
		background-color: inherit;
		color: black;
	}
	
	to {
		background-color: var(--light-em);
		color: white;
	}
}
