<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/components/header.js"></script>
    <script src="/static/components/footer.js"></script>
    <title>404 - Not found</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header-component>
	    <a slot="wisdom">{{msg-daily}}</a>
    </header-component>
    <main>
        <section>
            <h1>404 - Not found</h1>
            <p>
                The page you are looking for cannot be found.
            </p>
        </section>
    </main>
    <footer-component>
    </footer-component>
</body>
</html>
