<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/components/header.js"></script>
    <script src="/static/components/footer.js"></script>
    <title>Blog</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header-component>
	    <a slot="wisdom">{{msg-daily}}</a>
    </header-component>
    <main>
        <section>
            <h1>Blog</h1>
            <p>This page houses links to all my blog posts, where I make talk about interesting things I've discovered and/or been working on.
            </p>
            <h2>Posts</h2>
            <ul>
                {{#posts}}
                <li>
                    <a href="/blog/{{link}}">{{name}}</a>
                </li>
                {{/posts}}
            </ul>
        </section>
    </main>
    <footer-component>
    </footer-component>
</body>
</html>