<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="static/components/header.js"></script>
    <script src="static/components/footer.js"></script>
    <title>Blog</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header-component>
	    <a slot="wisdom">{{msg-daily}}</a>
    </header-component>
    <div class="content">
        <h1>Blog</h1>
        <p>This page will house a blog where I'll make posts about interesting things I've discovered and/or been working on. Currently there is nothing here.
        </p>
    </div>
    <footer-component>
    </footer-component>
</body>
</html>