<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="static/components/header.js"></script>
    <script src="static/components/footer.js"></script>
    <title>Blog</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header-component>
	    <a slot="wisdom">{{msg-daily}}</a>
    </header-component>
    <div class="content">
        {{blogText}}
    </div>
    <footer-component>
    </footer-component>
</body>
</html>