<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="/static/components/header.js"></script>
		<script src="/static/components/footer.js"></script>
		<title>Blog</title>
		<link rel="stylesheet" href="/static/css/style.css">
		<script src="/static/jquery-4.0.0.slim.min.js"></script>
		<script src="/static/scripts/script.js"></script>
	</head>
	<body>
		<div class="block">
			<header-component>
				<span slot="wisdom">{{msg-daily}}</span>
			</header-component>
		</div>
		<div class="block zenith">
			<main>
				<div class="border">
					<h1>Blog</h1>
					<p>
						Heres some posts I've written about some random stuff.
						This is rougly analogous to the usual tech blog, except
						I'm a bit more stupid, and I have no idea what I'm
						talking about.
					</p>
					<p>
						The posts are grouped into canonical ones, which are a
						linear series of somewhat regular posts, mostly just
						about what I'm working on at the moment. The other
						deuterocanonical ones are sporadic, maybe humorous
						or maybe actually somewhat interesting posts centered
						around some random idea I've had, which has nothing in
						particular to do with any of my current projects.
					</p>
					<div class="split">
						<div>
							<h2 class="tight">Canonical posts</h2>
							<p class="tight">Main ordered posts about whatever I'm thinking about.</p>
							<ol reversed>
								{{#main.posts}}
								<li>
									<a href="/blog/{{link}}">{{name}} - ({{date}})</a>
								</li>
								{{/main.posts}}
							</ol>
							<a href="/rss/canon">
								<img id="rss" src="/static/images/Feed-icon.svg">
							</a>
						</div>
						{{#categories}}
						<div>
							<h2 class="tight">{{name}} posts</h2>
							<p class="tight">{{desc}}</p>
							<ul reversed>
								{{#posts}}
								<li>
									<a href="/blog/{{link}}">{{name}} - ({{date}})</a>
								</li>
								{{/posts}}
							</ul>
							<a href="/rss/{{name}}">
								<img id="rss" src="/static/images/Feed-icon.svg">
							</a>
						</div>
						{{/categories}}
					</div>
					<a href="/rss/universal">
						<img id="rss" src="/static/images/Feed-icon.svg">
					</a>
				</div>
			</main>
		</div>
		<footer-component>
		</footer-component>
	</body>
</html>
