<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/components/header.js"></script>
    <script src="/static/components/footer.js"></script>
    <title>Blog</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Code highlighting -->
    <link rel="stylesheet" href="/static/highlighting/vs2015.min.css">
    <script src="/static/highlighting/highlight.min.js"></script>
    <script src="/static/highlighting/cpp.min.js"></script>
</head>
<body>
    <header-component>
	    <a slot="wisdom">{{msg-daily}}</a>
    </header-component>
    <main>
        <article>
            {{&blogText}}
        </article>
    </main>
    <footer-component>
    </footer-component>
    <script>hljs.highlightAll();</script>
</body>
</html>