<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/components/header.js"></script>
    <script src="/static/components/footer.js"></script>
    <title>Contact</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header-component>
	    <a slot="wisdom">{{msg-daily}}</a>
    </header-component>
    <main>
        <section>
            <h1>Contact</h1>
            <p>This page serves the purpose of linking to all of my other social media, as well as being a way to contact me directly 
                (or at least when I bother to implement that part).</p>
                <ul>
                    <li>
                        <a href="https://youtube.com/@wisdurm-x">Youtube</a>
                    </li>
                    <li>
                        <a href="https://github.com/Wisdurm">Github</a>
                    </li>
                </ul>
        </section>
    </main>
    <footer-component>
    </footer-component>
</body>
</html>