<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="/static/components/header.js"></script>
		<script src="/static/components/footer.js"></script>
		<script src="/static/components/card.js"></script>
		<title>Landing page</title>
		<link rel="stylesheet" href="/static/css/style.css">
		<script src="/static/jquery-4.0.0.min.js"></script>
		<script src="/static/fittext.js"></script>
		<script src="/static/scripts/script.js"></script>
	</head>
	<body>
		<div class="block">
			<header-component>
				<span slot="wisdom">{{msg-daily}}</span>
			</header-component>
		</div>
		<div class="block zenith">
			<aside>
				<div class="border alt-nav">
					<!-- General -->
					<strong>General</strong>
					<a href="/projects"> Projects </a>
					<a href="/contact"> Contact </a>
					<a href="/blog"> Blog </a>
					<a href="/guestbook">Guestbook</a>
					<!-- Page specific -->
				</div>
				<div class="border">
					{{&badges}}
				</div>
				<div class="border">
					<img src="/static/images/fin.gif">
				</div>
				<div class="border">
					<small>
					Something to say?<br>
					Leave a comment! <br>
					<a href="/guestbook"><button>Guestbook</button></a>
					</small>
				</div>
			</aside>
			<main>
				<div class="border">
					<h1>Welcome to Wisdurm.fi</h1>
					<p>This is my personal site that I'm currently using to
						practice web development, to showcase some projects I've
						made and to in general to serve as a central place for
						all of my work.
					</p>
					<p>
						This site doesn't contain every single project I've ever
						made atm, so check back occasionally, if you wish.
					</p>
					<p>
						If you've visited this site, please leave a comment at
						the guestbook! Comments are currently limited to 1 per
						public ip.
					</p>
					<h2>Pages</h2>
					<ul>
						<li>
							<a href="/projects">Projects</a>
						</li>
						<li>
							<a href="/contact">Contact</a>
						</li>
						<li>
							<a href="/blog">Blog</a>
						</li>
						<li>
							<a href="/guestbook">Guestbook</a>
						</li>
					</ul>
				</div>
			</main>
			<aside>
				<div class="border">
					<h2>Project of the day!</h2>
					{{&project-daily}}
				</div>
			</aside>
		</div>
		<footer-component>
		</footer-component>
	</body>
</html>
