<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/components/header.js"></script>
    <script src="/static/components/footer.js"></script>
    <script src="/static/components/card.js"></script>
    <title>Projects</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header-component>
	    <a slot="wisdom">{{msg-daily}}</a>
    </header-component>
    <main>
        <h1>Projects</h1>
        <p>
            This is the central hub for all of my projects. In time, every major "thing" I've worked on will appear here.
        </p>
		{{&projects-text}}
    </main>
    <footer-component>
    </footer-component>
    <script>
        const funny_titles = ["thingamajigs", "projects", "whatchamacallits", "toys", "things", "thingamabobs", "doodads", "gizmoz", "widgets", "gadgets", "doohickeys"]
        document.getElementById("Web").textContent += " " + funny_titles[Math.round(Math.random()*(funny_titles.length-1))]
    </script>
</body>
</html>
