<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/components/header.js"></script>
    <script src="/static/components/footer.js"></script>
    <script src="/static/components/card.js"></script>
    <title>Projects</title>
    <link rel="stylesheet" href="/static/css/style.css">
	<script src="/static/jquery-4.0.0.min.js"></script>
	<script src="/static/fittext.js"></script>
	<script src="/static/scripts/script.js"></script>
</head>
<body>
	<div class="block">
		<header-component>
			<span slot="wisdom">{{msg-daily}}</span>
		</header-component>
	</div>
	<div class="block zenith">
		<aside>
			<div class="border alt-nav">
				<!-- General -->
				<strong>General</strong>
				<a href="/projects"> Projects </a>
				<a href="/contact"> Contact </a>
				<a href="/blog"> Blog </a>
				<!-- Page specific -->
				{{&projects-links}}
			</div>
		</aside>
		<main>
			<div class="border">
				<h1>Projects</h1>
				<p>
					This is the central hub for all of my projects. In time, every major "thing" I've worked on will appear here.
				</p>
				{{&projects-text}}
			</div>
		</main>
	</div>
    <footer-component>
    </footer-component>
    <script>
		// Some funny titles ( client side because idk bored )
        const funny_titles = ["thingamajigs", "projects", "whatchamacallits", "toys", "things", "thingamabobs", "doodads", "gizmoz", "widgets", "gadgets", "doohickeys"];
        $("#Web")[0].textContent += " " + funny_titles[Math.round(Math.random()*(funny_titles.length-1))];
    </script>
</body>
</html>
