<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/components/header.js"></script>
    <script src="/static/components/footer.js"></script>
    <script src="/static/components/card.js"></script>
    <title>Projects</title>
    <link rel="stylesheet" href="/static/css/style.css">
	<script src="/static/jquery-4.0.0.slim.min.js"></script>
	<script src="/static/fittext.js"></script>
	<script src="/static/scripts/script.js"></script>
</head>
<body>
	<div class="block">
		<header-component>
			<span slot="wisdom">{{msg-daily}}</span>
		</header-component>
	</div>
	<div class="block zenith">
		<aside>
			<div class="border alt-nav">
				<!-- General -->
				<strong>General</strong>
				<a href="/projects"> Projects </a>
				<a href="/contact"> Contact </a>
				<a href="/blog"> Blog </a>
				<!-- Page specific -->
				{{#projects}}
				<strong>{{name}}</strong>
				{{#items}}
				<!-- Just for convenience -->
				<a href="#{{name}}">{{name}}</a>
				{{/items}}
				{{/projects}}
			</div>
			<div class="border">
				{{#badges}}
				<a href="{{href}}" class="i88x31">
					<img src="/static/images/badges/{{img}}">
				</a>
				{{/badges}}
			</div>
		</aside>
		<main>
			<div class="border">
				<h1>Projects</h1>
				<p>
					Central hub for all of my projects. Contains most of the
					major stuff, but there's still some things missing.
				</p>
				{{#projects}}
				<section>
					<h2 id="{{name}}">{{name}}</h2>
					<p>{{desc}}</p>
					<div class="card-gallery">
						{{#items}}
						<card-component id="{{name}}">
							<div slot="name">{{name}}</div>
							<div slot="text">{{desc}}</div>
							<img class="{{imgform}}" slot="image" src="{{img}}"
								 alt="{{name}}">
							<span slot="links">
								{{#links}}
								<a class="spanLink" href="{{href}}">{{text}}</a>
								{{/links}}
							</span>
						</card-component>
						{{/items}}
					</div>
				</section>
				{{/projects}}
			</div>
		</main>
	</div>
    <footer-component>
    </footer-component>
    <script>
		// Some funny titles ( client side because idk bored )
        const funny_titles = ["thingamajigs", "projects", "whatchamacallits", "toys", "things", "thingamabobs", "doodads", "gizmoz", "widgets", "gadgets", "doohickeys"];
        $("#Web")[0].textContent += " " + funny_titles[Math.round(Math.random()*(funny_titles.length-1))];
    </script>
</body>
</html>
